.order-card {
  position: absolute;
  z-index: 100;
  background-color: white;
  border-radius: 32px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}