* {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

:root {
  --bg-color: rgb(24, 25, 26);
  --text-color: white;
  --text-color-10: rgba(255, 255, 255, 0.1);
  --text-color-20: rgba(255, 255, 255, 0.2);
  --text-color-30: rgba(255, 255, 255, 0.3);
  --primary-color: rgb(130, 1, 235);
}


button {
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;

  &:disabled {
    background: var(--text-color-30);
    color: var(--text-color);
    opacity: 0.5;
  }
}

.btn-filled {
  background: var(--primary-color);

  &:hover {
    filter: brightness(120%);
  }
}

.btn-ghost {
  background: var(--text-color-10);

  &:hover {
    background: var(--text-color-20);
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background-color: var(--text-color-10);
  transition: background 0.3s ease;

  &:checked {
    background-color: var(--primary-color);
  }

  &:checked::before {
    content: '\2713';
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
  }
}