<div class="order-card" *ngIf="order.establishment()">
  <img
    *ngIf="order.establishment()?.image"
    [src]="order.establishment()?.image"
    class="establishment-img"
  />
  <div class="establishment">
    <h2>{{ order.establishment()?.name }}</h2>

    <div class="establishment__rating">
      <span class="stars">
        <span
          class="material-symbols-outlined star"
          *ngFor="let star of order.stars()"
          [class.filled]="star.filled"
          [class.empty]="!star.filled"
          >{{ star.icon }}</span
        >
      </span>
      <span>{{ order.establishment()?.rating ?? 0 }}</span>
    </div>
    <div class="establishment__address">
      <span class="material-symbols-outlined">location_on</span>
      <span>{{ order.establishment()?.address }}</span>
    </div>
  </div>
  <br />

  <ng-container *ngIf="order.dishes().length">
    <h3>Cardápio</h3>

    <form (ngSubmit)="onCreateOrder()">
      <div class="dishes">
        <div *ngFor="let item of order.items() | keyvalue" class="dish-item">
          <label>
            <input
              type="checkbox"
              [checked]="item.value.quantity > 0"
              (change)="order.toggleDish(item.value.dish)"
            />
            <img
              class="dish-img"
              [src]="item.value.dish.image"
              *ngIf="item.value.dish.image"
            />
            <div class="dish-info">
              <div class="dish-info__title">{{ item.value.dish.name }}</div>
              <span class="dish-info__desc">{{
                item.value.dish.description
              }}</span>
            </div>
          </label>

          <div class="dish-item__right">
            <span class="dish-price">{{
              item.value.dish.price | currency : "BRL"
            }}</span>

            <div class="quantity-controls" *ngIf="item.value.quantity > 0">
              <button
                class="btn-ghost"
                type="button"
                (click)="order.decrement(item.value.dish)"
              >
                -
              </button>
              <span>{{ item.value.quantity }}</span>
              <button
                class="btn-ghost"
                type="button"
                (click)="order.increment(item.value.dish)"
              >
                +
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="summary">
        Total:
        <strong style="font-size: 22px">{{
          order.totalPrice() | currency : "BRL"
        }}</strong>
      </div>
      <button class="btn-filled" type="submit" [disabled]="!order.hasItems()">
        Finalizar Pedido
      </button>
    </form>
  </ng-container>
</div>
